@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
$white: #fffbfb;
$blue: #2591ff;
$lightBlue: #91c7ff;
$lightGreen: #05d3ba;
$yellow: #ffbf3e;
$darkBlue: #3a4793;


 a{
   cursor: pointer;
 }

*,div,h1,h2,h3,h4,h5,h6,p,span button{
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}

body, html {
  background: #ededed;
  height: 100%;
  overflow: hidden;
}

@import "all-tasks";
@import "home";




.btn {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  margin: 15px 0;
  font-size: 20px;
  border-radius: 3px;
color: #fffbfb;
  &.lightBlue {
    background: $lightBlue;
  }
}
